In [2]:
import pandas as pd  
df = pd.read_csv("ecommerce_sales_data_clean.csv")

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order_ID         1000 non-null   int64
 1   Product_ID       1000 non-null   int64
 2   Product_Name     1000 non-null   object
 3   Category         1000 non-null   category
 4   Price            1000 non-null   float64
 5   Quantity         1000 non-null   int64
 6   Date             1000 non-null   datetime64[ns]
 7   Region           1000 non-null   category
 8   Customer_Age     1000 non-null   int64
 9   Customer_Gender  1000 non-null   category
 10  Returned         1000 non-null   int64
 11  Order_Status     1000 non-null   object
 12  Total            1000 non-null   float64
dtypes: category(3), datetime64[ns](1), float64(2), int64(5), object(2)
memory usage: 81.6+ KB

In [ ]:
# Change the corresponding data type
df["Date"] = pd.to_datetime(df["Date"])
df["Product_Name"] = df["Product_Name"].astype("category")
df["Category"] = df["Category"].astype("category")
df["Region"] = df["Region"].astype("category")
df["Customer_Gender"] = df["Customer_Gender"].astype("category")

In [15]:
df["Product_Name"] = df["Product_Name"].astype("str")
df["Product_Name"].replace("", "Unknown", inplace=True)

C:\Users\santi\AppData\Local\Temp\ipykernel_18868\1479337918.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Product_Name"].replace("", "Unknown", inplace=True)

In [17]:
df.duplicated(subset=["Order_ID"]).sum() # Duplicates

np.int64(0)

In [18]:
df[['Price', 'Total']].describe()

             Price        Total
count  1000.000000  1000.000000
mean    254.587120   761.946890
std     139.551511   586.795887
min      10.710000    12.340000
25%     136.152500   296.455000
50%     253.945000   605.000000
75%     376.287500  1129.035000
max     499.970000  2496.550000

In [19]:
df["Order_Status"].value_counts()

Order_Status
Enviado      350
Cancelado    330
Entregado    320
Name: count, dtype: int64

In [23]:
print(df["Total"].head(10))

0    1256.40
1    1973.05
2      30.32
3     930.15
4    1802.60
5      93.91
6     727.96
7    1396.32
8    1296.55
9    1303.75
Name: Total, dtype: float64

In [26]:
total_sales = df["Total"].sum()
print(f"Total Sales: {total_sales:.2f}")

Total Sales: 761946.89

In [28]:
average_ticket = df["Total"].mean()
print(f"Average Ticket: {average_ticket:.2f}")

Average Ticket: 761.95

In [30]:
df.groupby("Category")["Total"].sum().sort_values(ascending=False)
# Analyze sales by category:

C:\Users\santi\AppData\Local\Temp\ipykernel_18868\1048946037.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("Category")["Total"].sum().sort_values(ascending=False)

Category
Hogar          162300.47
Juguetes       160920.84
Electr√≥nica    157401.65
Alimentos      140733.97
Ropa           140589.96
Name: Total, dtype: float64

In [32]:
df.to_csv("ecommerce_sales_data_clean.csv", index=False)

In [ ]:
import pandas as pd

df = pd.read_csv("ecommerce_sales_data_clean.csv")
print(df.head())  # To see dates for looker studio

   Order_ID  Product_ID Product_Name  Category   Price  Quantity  \
0         1          10        Early  Juguetes  418.80         3
1         2          99           Ok      Ropa  394.61         5
2         3          51     Painting  Juguetes   15.16         2
3         4          89         Less      Ropa  310.05         3
4         5          60        Alone  Juguetes  450.65         4

                  Date  Region  Customer_Age Customer_Gender  Returned  \
0  2023-12-24 06:30:09  Centro            23       Masculino         1
1  2023-07-06 14:07:01   Norte            30            Otro         1
2  2023-01-09 21:45:09     Sur            39            Otro         1
3  2023-06-21 12:53:31  Centro            40       Masculino         0
4  2023-11-07 12:00:30  Centro            29       Masculino         1

  Order_Status    Total
0    Entregado  1256.40
1      Enviado  1973.05
2    Entregado    30.32
3    Cancelado   930.15
4    Entregado  1802.60

In [13]:
print(f"MIN DATE: {df['Date'].min()}")
print(f"MAX DATE: {df['Date'].max()}")

MIN DATE: 2023-01-01 02:40:26
MAX DATE: 2023-12-30 19:21:58